/*******************************
 *           GENERAL           *
 *******************************/

/* make date and datetime-local look like other Skeleton input fields*/
input[type="datetime-local"],
input[type="date"] {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

input[type="datetime-local"]:focus,
input[type="date"]:focus {
    border: 1px solid #ffc310;
    outline: 0;
}

input[type="text"] {
    width: 100%;
}

html {
    background-image: url("/static/debtcalculatorapp/img/grid3.png");
}

/*******************************
 *           HEADER            *
 *******************************/

.logo {
    display: inline-block;
    float: left;
}

.badge {
    display: inline-block;
    float: right;
    top: 350px;
    background: #117c4a;
    color: white;
    font-size: xx-small;
    padding: 2px 12px;
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 30px;
}

/*******************************
 *          NAV BAR            *
 *******************************/

.navbar {
    overflow: hidden;
    background: #1a4e35;
    margin-bottom: 30px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 13px 18px;
    text-decoration: none;
}

.drop-down-menu {
    float: left;
    overflow: hidden;
    cursor: pointer;
}

.drop-down-menu .drop-btn {
    color: white;
    padding: 13px 18px;
    background-color: inherit;
}

.navbar a:hover, .drop-down-menu:hover .drop-btn {
    background: #117c4a;
}

.navbar .drop-down-menu:last-child {
    float: right;
}

.navbar img {
    width: 18px;
    margin: 0;
}

.drop-down-content {
    display: none;
    position: absolute;
    background-color: #117c4a;
    min-width: 160px;
    z-index: 1;
}

.drop-down-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar > .drop-down-menu:last-child .drop-down-content {
    right: 0;
}

.drop-down-content a:hover {
    background-color: #0f9c3e;
}

.drop-down-menu:hover .drop-down-content {
    display: block;
}

/*******************************
 *           BOXES             *
 *******************************/

/* Contain box */
.box {
    padding: 25px;
    margin-bottom: 35px;
    margin-top: 0;
    border: rgba(255, 244, 21, 0.41) solid 4px;
    border-radius: 15px;
    background-color: rgba(255, 253, 237, 0.77);
}

/* Info box */
@font-face {
    font-family: 'digital-clock-font';
    src: url('/static/debtcalculatorapp/font/digital-7/digital-7-mono.ttf');
}

#clock {
    text-align: center;
    font-family: 'digital-clock-font', serif;
    font-size: xx-large;
}

#clock div:last-child {
    font-size: 160%;
}

#info-box div:first-child {
    text-align: right;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
    padding-bottom: 10px;
}

#info-box div span:first-child {
    font-weight: bold;
}

#info-box div span:last-child {
    float: right;
}


/*******************************
 *           UTILS             *
 *******************************/

.no-data {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    font-style: italic;
    color: #888888;
}

.capitalize {
    text-transform: capitalize;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

/*******************************
 *            FORMS            *
 *******************************/

.submit-row {
    padding-top: 15px;
    padding-bottom: 0;
    margin: 0 0;
}

.input-error {
    color: red;
    font-size: small;
    font-style: italic;
    margin-bottom: 20px;
    display: block;
}

/*******************************
 *         ENTRY TABLE         *
 *******************************/

.group-btn {
    font-size: 0;
    margin-bottom: 20px;
}

.group-btn .button,
.group-btn button {
    display: inline-block;
    height: 38px;
    padding: 0 5px;
    margin: 5px 0;
    color: #555;
    text-align: center;
    font-size: small;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-color: #eeeeee;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.group-btn .selected {
    background: #007816;
    color: white;
}

.group-btn .button:first-child,
.group-btn button:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding-left: 5px;
    margin-left: 3px;
}

.group-btn .button:last-child,
.group-btn button:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding-right: 5px;
    margin-right: 3px;
}

/*******************************
 *           FOOTER            *
 *******************************/

.button-scroll-up {
    display: inline-block;
    color: #1a4e35;
    background: white;
    text-transform: uppercase;
    border: 1px solid #1a4e35;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
    margin-bottom: 30px;
}

.button-scroll-up:hover {
    color: white;
    background: #1a4e35;
    border: 1px solid rgba(125, 125, 125, 0.62);
}

.footer {
    background: #1a4e35;
    padding: 5px 35px;
    text-align: center;
}

.contact {
    padding-top: 35px;
}

.contact a {
    text-decoration: none;
}

.contact img {
    width: 32px;
    margin: 5px 20px;
}

.contact img:hover {
    zoom: 110%;
}

.nav-footer {
    padding-top: 15px;
}

.nav-footer a {
    color: #bdbdbd;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    padding: 10px 10px;
}

.nav-footer a:hover {
    text-decoration: underline;
    color: white;
}

.footer .last-footer {
    text-align: left;
    padding: 10px 0;
    margin-top: 25px;
    margin-bottom: 10px;
    border-top: #919191 solid 1px;
    color: #bdbdbd;
}

.last-footer div {
    font-style: italic;
    font-size: x-small;
}

.last-footer a {
    text-decoration: none;
    color: #bdbdbd;
}

.last-footer a:hover {
    text-decoration: underline;
    color: white;
    padding-bottom: 15px;
}

/*******************************
 *            LOGIN            *
 *******************************/

.login-form input {
    width: 100%;
}

.login-notice {
    font-style: italic;
    font-weight: bold;
    color: #1a4e35;
    margin-bottom: 20px;
}

/*******************************
 *         NEW PROFILE         *
 *******************************/
.login-box-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
    text-align: right;
    margin: 10px 5px 30px 0;
}

.member_list_row input {
    width: 92%;
}

.member_list_row span {
    float: right;
    background-color: #f0cd19;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #f0b02a;
    cursor: pointer;
}

#add_member_button {
    display: inline-block;
    background-color: #f0a814;
    text-align: center;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #f08c0b;
    cursor: pointer;
}

#register-button {
    margin-top: 25px;
    width: 100%;
}

.debtor-label {
    cursor: pointer;
    background: white;
    color: #007816;
    border: 1px solid #007816;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
    padding: 3px 10px;
}

.debtor-label.selected {
    background: #007816;
    color: white;
    border: 1px solid white;
}

.debtor-name {
    font-size: small;
    background: rgba(255, 209, 6, 0.19);
    border-radius: 6px;
    display: inline-block;
    margin: 1px;
    padding: 2px 3px;
}

#summarize-result > div,
#summarize-box > div {
    margin-top: 13px;
}

#summarize-result > div:first-child,
#summarize-box > div:first-child {
    text-align: right;
    font-size: large;
    text-transform: uppercase;
    font-weight: bolder;
    padding-bottom: 10px;
}

#summarize-box > div > span:first-child {
    font-weight: bold;
}

#summarize-box > div > span:not(:first-child) {
    float: right;
}

#member-box {
    text-align: right;
    width: 75%;
    margin-left: 25%;
}

.currency-rows {
    margin-top: 15px;
    margin-bottom: 50px;
}

.currency-row input {
    width: 100px;
}

#summarize-result table {
    width: 100%;
}

.exchange-fee {
    cursor: pointer;
    text-decoration: underline;
}

.exchange-fee span {
    white-space: nowrap;
}

.exchange-fee:hover {
    color: #0d992b;
}

.exchange-fee input {
    color: black;
    width: 100px;
}

.exchange-fee img {
    display: inline;
    width: 25px;
    height: 25px;
    position: relative;
    top: 7px;
    left: 7px;
}

.note textarea {
    width: 80%;
    height: 200px;
    resize: none;
}

#info-box pre,
#info-box .note {
    padding-left: 30px;
    font-size: small;
    white-space: pre-line;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.guide {
    font-size: small;
    color: grey;
    font-style: italic;
}
